  <div class="w-full mx-auto lg:w-2/3">
    <div class="flex gap-4 items-center justify-between">
      <%= render partial: 'components/header' %>
      <%= link_to articles_path, class: "" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <%= render @article %>
  </div>
