<div class="flex flex-col lg:flex-row justify-evenly gap-4 mb-4">
  <div class="flex font-extrabold items-end text-gold text-2xl w-1/2 font-georgia">
    <span>STK</span>
  </div>
  <div class="flex w-full">
    <h1 class=" flex items-end text-4xl text-blue-dark font-georgia font-semibold lg:text-5xl">
      Resilient communities, where people are prioritized.
    </h1>
  </div>
  <div class="flex items-end w-full text-blue-dark">
    <p>
      Strong Towns is an organization advocating for livable and financially resilient communities, where people, not cars, are prioritized.
    </p>
  </div>
</div>
<div class="rounded-lg mb-4">
  <%= image_tag "farmers-market.jpg", :class => "rounded-lg" %>
</div>
<div class="mb-24">
  <ul h-scroll-role="text" class="w-full text-blue-dark overflow-x-auto flex text-4xl gap-2 font-georgia pl-8 font-semibold lg:text-5xl">
    <li class="whitespace-nowrap">• Safe & Productive Streets</li>
    <li class="whitespace-nowrap">• Mix-use Development</li>
    <li class="whitespace-nowrap">• End Parking Mandates</li>
    <li class="whitespace-nowrap">• Transparent Local Accounting</li>
    <li class="whitespace-nowrap">• End Highway Expansion</li>
  </ul>
</div>
