<div class="flex flex-col lg:flex-row justify-evenly gap-4 mb-4">
  <div class="flex font-extrabold items-end text-gold text-2xl w-1/2 font-georgia xl:text-3xl 2xl:text-4xl">
    <span>STK</span>
  </div>
  <div class="flex w-full">
    <h1 class=" flex items-end text-4xl text-blue-dark font-georgia font-semibold lg:text-5xl xl:text-6xl 2xl:text-8xl">
      Resilient communities, where people are prioritized.
    </h1>
  </div>
  <div class="flex items-end font-semibold w-full text-blue-dark 2xl:w-3/4">
    <p>
      Strong Towns is an organization advocating for livable and financially resilient communities, where people are prioritized over cars.
    </p>
  </div>
</div>
<div class="rounded-lg mb-4"">
  <%= image_tag "farmers-market.webp", :class => "rounded-lg object-cover object-bottom 2xl:h-384 2xl:w-full" %>
</div>
<div class="mb-24 h-max overflow-x-hidden lg:h-14 xl:h-16 xl:mb-48 2xl:h-28">
  <ul hero="list" class="text-blue-dark flex flex-nowrap text-4xl gap-2 font-georgia pl-8 xl:pl-96 font-semibold lg:text-5xl xl:text-6xl 2xl:text-8xl">
    <li hero="item" class="whitespace-nowrap">• Safe & Productive Streets</li>
    <li hero="item" class="whitespace-nowrap">• Mix-use Development</li>
    <li hero="item" class="whitespace-nowrap">• End Parking Mandates</li>
    <li hero="item" class="whitespace-nowrap">• Transparent Local Accounting</li>
    <li hero="item" class="whitespace-nowrap">• End Highway Expansion</li>
  </ul>
</div>
