<%= render partial: 'components/header' %>
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Events" %>
<div id="events" class="min-w-full gap-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
  <% @events.each do |event| %>
    <div class="bg-whitesmoke flex flex-col justify-between p-4 rounded-lg">
      <%= render event %>
      <p>
      <%= link_to "Show this event", event, class: "rounded-lg p-2 bg-blue text-white inline-block font-medium" %>
      </p>
    </div>
  <% end %>
</div>
