<%= render partial: "components/header" %>
<div class="flex flex-1 justify-center items-center">
  <div class="max-w-256">Strong Towns Kelowna is a volunteer run, completely unfunded local chapter of Strong Towns a 501(c)(3) nonprofit media advocacy organization. We produce content that analyzes the failures of the post-war North American development pattern while giving citizens the knowledge and tools to start making our places better today.</div>
</div>
