<%= render partial: "components/header" %>
<div class="flex flex-1 justify-center items-center">
  <div class="max-w-256">
    We call Kelowna home and seek to make it a place where everyone can thrive.  We advocate for cities of all sizes to be safe, livable, and inviting. Kelowna’s issues of affordability and traffic congestion can only be solved by replacing Kelowna’s post-war pattern of development, the Suburban Experiment, with a pattern of development that is financially strong and resilient. We work to elevate local government to be the highest level of collaboration for people working together in a place, not merely the lowest level in a hierarchy of governments.
  </div>
</div>
