/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*'sm': '640px',*/
/*// => @media (min-width: 640px) { ... }*/
/**/
/*'md': '768px',*/
/*// => @media (min-width: 768px) { ... }*/
/**/
/*'lg': '1024px',*/
/*// => @media (min-width: 1024px) { ... }*/
/**/
/*'xl': '1280px',*/
/*// => @media (min-width: 1280px) { ... }*/
/**/
/*'2xl': '1536px',*/
/*// => @media (min-width: 1536px) { ... }*/
:root {
  --blue: #a6c6ed;
  --gold: #ffb84d;
  --blue-dark: #0c2440;
  --white: #fff;
  --whitesmoke: #f5f5f5;
  --dark: #221E20;
  --light: #221E20AA;
  --transparent: #ffffff00;
}

@media (prefers-reduced-motion: no-preference) {
  /* about */

  .about-image {
    opacity: 0;
    filter: blur(4px);
    animation: about-image linear forwards;
    animation-timeline: view();
    animation-range: 100px 500px;
  }

  @keyframes about-image {
    to {
      opacity: 1;
      filter: blur(0px);
    }
  }

  @media (min-width: 1024px) {
    .about-image {
      animation: none;
      opacity: 1;
      filter: blur(0px);
    }
  }

}

.lazy-img {
  object-position: center;
  object-fit: cover;
}

.blur-load {
  background-size: cover;
  background-position: center;
}

.simple-calendar {
  background-color: var(--whitesmoke);
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100%;

  .day {
    padding: 0.5rem;
    text-align: center;
    border: solid 1px;
    border-color: var(--white);
  }

  .wday-0 {}

  .wday-1 {}

  .wday-2 {}

  .wday-3 {}

  .wday-4 {}

  .wday-5 {}

  .wday-6 {}

  .today {
    color: var(--blue-dark);
    background: var(--blue);
  }

  .past {
    color: var(--light);
  }

  .future {
    color: var(--blue-dark);
    background: var(--white);
  }

  .start-date {}


  .table {
    width: 100%;
  }

  .calendar-heading>nav {
    justify-content: space-between;
    display: flex;
  }

  .prev-month {}

  .next-month {}

  .table {}

  .has-events {
    background-color: var(--blue-dark);
    color: var(--white);

  }

}
